.login-panel{position:relative;height:600px}
.loginSlide{position:relative;width:100%;height:600px;overflow:hidden}
.loginSlide .bd{position:relative;height:600px}
.loginSlide .bd ul{list-style:none;margin:0;padding:0}
.loginSlide .bd li{background-position:center center;background-repeat:no-repeat;height:600px}
.loginSlide .bd a{display:block;height:600px}
.loginSlide .hd{position:absolute;bottom:0;left:0;right:0;text-align:center}
.loginSlide .hd ul{padding:10px 0;line-height:12px;overflow:hidden;margin:0}
.loginSlide .hd li{display:inline-block;width:12px;height:12px;background:#fff;margin:0 6px;border-radius:20px;opacity:.6}
.loginSlide .hd .on{opacity:1}
.login-box{position:absolute;top:50%;left:50%;margin-left:215px;margin-top:-283px;background:#fff;width:380px;box-shadow:0 6px 12px rgba(0,0,0,0.08)}
.login-hd{height:78px;line-height:78px;padding:0 30px}
.login-hd li{float:left;width:130px;text-align:center;position:relative}
.login-hd a{display:block;color:#666;font-size:16px}
.login-hd .active a{color:#3b99fc}
.login-account{padding:0 30px 15px 30px}
.login-item{position:relative;height:30px;margin-bottom:16px}
.login-item .input{display:block;width:100%;height:30px;padding-left:36px;border:1px solid #dedede;border-radius:3px}
.login-item .item-label{position:absolute;top:5px;left:8px;width:20px;height:20px;line-height:20px;text-align:center;color:#dadada;z-index:10}
.login-remember{height:16px;margin-bottom:16px}
.login-txt{display:flex;gap:12px;margin-top:12px}