@charset "UTF-8";
/*登录页面-登陆弹窗*/
.page-login {
  -wekbit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-login *,
.page-login *:before,
.page-login *:after {
  -wekbit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-login .header {
  border-bottom: none !important;
}
.page-login .header:before {
  display: none;
}
.page-login .header-right {
  display: none;
}
.page-login .footer {
  background: #fff;
}

.header-welcome {
  float: left;
  height: 80px;
  line-height: 80px;
  padding-left: 40px;
  font-size: 20px;
}

.login-panel {
  position: relative;
  height: 600px;
  margin-bottom: -40px;
}
.login-panel .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 215px;
  margin-top: -283px;
}

/*幻灯片*/
.loginSlide {
  position: relative;
  width: 100%;
}

.loginSlide {
  height: 600px;
  overflow: hidden;
}

.loginSlide .bd {
  position: relative;
  height: 600px;
}

.loginSlide .bd li {
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}

.loginSlide .bd a {
  display: block;
  height: 600px;
}

.loginSlide .hd {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.loginSlide .hd ul {
  padding: 10px 0;
  line-height: 12px;
  overflow: hidden;
}

.loginSlide .hd li {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 100px;
  background: #f8f8f8;
  margin: 0 6px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  opacity: 0.6;
}

.loginSlide .hd .on {
  opacity: 1;
}

.login-box {
  background: #fff;
  width: 380px;
}
.login-box .login-hd {
  height: 78px;
  line-height: 78px;
  padding: 0 30px;
}
.login-box .login-hd li {
  float: left;
  width: 130px;
  text-align: center;
  position: relative;
}
.login-box .login-hd a {
  cursor: pointer;
}
.login-box .login-hd .login-hd-code {
  margin-right: 60px;
}
.login-box .login-hd .login-hd-code:after {
  content: "";
  position: absolute;
  top: 27px;
  right: -30px;
  width: 1px;
  height: 24px;
  background: #dedede;
}
.login-box .login-hd a {
  display: block;
  color: #666;
  font-size: 16px;
  transtion: 0.3s linear color;
}
.login-box .login-hd a:hover {
  color: #3b99fc;
}
.login-box .login-hd .active a {
  color: #3b99fc;
}

.login-account {
  padding: 0 30px 15px 30px;
}
.login-account .login-item {
  position: relative;
  height: 30px;
  margin-bottom: 16px;
}
.login-account .login-item .input {
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 36px;
}
.login-account .login-item .item-label {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #dadada;
  z-index: 10;
}
.login-account .login-remember {
  height: 16px;
  margin-bottom: 16px;
}
.login-account .login-remember .check-inline {
  float: left;
  height: 16px;
  line-height: 16px;
  padding-left: 26px;
}
.login-account .login-remember .check-inline .icheckbox {
  margin: 0 0 0 -26px;
}
.login-account .login-pwd-code {
  margin-bottom: 16px;
  height: 190px;
  border: 1px solid #dedede;
  position: relative;
}
.login-account .login-txt {
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
  color: #666;
}
.login-account .login-txt a {
  margin: 0 5px;
}
.login-account .login-txt a:hover {
  color: #3b99fc !important;
}

.login-code .login-code-con {
  height: 270px;
  padding: 0 30px;
}
.login-code .login-code-main {
  height: 200px;
  position: relative;
}
.login-code .code-pic {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 160px;
  height: 160px;
  border: 1px solid #dedede;
}
.login-code .code-pic img {
  display: block;
  width: 158px;
  height: 158px;
}
.login-code .code-error-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.65;
  z-index: 10;
  display: none;
}
.login-code .code-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  z-index: 12;
  text-align: center;
  padding-top: 40px;
  display: none;
}
.login-code .code-error p {
  line-height: 30px;
  margin-bottom: 10px;
}
.login-code .code-tips {
  position: absolute;
  top: 8px;
  right: 0;
  width: 155px;
  height: 180px;
  display: none;
}
.login-code .code-tips img {
  display: block;
  width: 155px;
  height: 180px;
}
.login-code .login-code-txt {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.login-code .login-code-ft {
  padding: 16px 0 16px 30px;
  *zoom: 1;
}
.login-code .login-code-ft:before,
.login-code .login-code-ft:after {
  content: "";
  display: table;
}
.login-code .login-code-ft:after {
  clear: both;
  overflow: hidden;
}
.login-code .login-code-ft li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 40px;
  color: #999;
}
.login-code .login-code-ft li .icon {
  float: left;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border-radius: 14px;
  border: 1px solid #dedede;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  color: #dadada;
}
.login-code .login-code-ft .last {
  margin-right: 0;
}
.login-code .login-code-loading {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 115px 0;
}
.login-code .login-code-loading img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.modal-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  z-index: 19000;
  font-size: 14px;
  -wekbit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-login *,
.modal-login *:before,
.modal-login *:after {
  -wekbit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-login a {
  color: #333;
}
.modal-login a:hover {
  color: #3b99fc;
}
.modal-login .modal-login-tit {
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  background: #f8f8f8;
  position: relative;
}
.modal-login .modal-login-tit h2 {
  line-height: 34px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
.modal-login .modal-login-tit .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}
.modal-login .login-box .login-hd {
  height: 48px;
  line-height: 48px;
}
.modal-login .login-box .login-hd .login-hd-code:after {
  top: 12px;
}

.login-code-success {
  text-align: center;
  padding-top: 25px !important;
}
.login-code-success img {
  display: block;
  width: 66px;
  height: 122px;
  margin: 0 auto;
}
.login-code-success h3 {
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  color: #000;
  margin-top: 20px;
}
.login-code-success p {
  height: 32px;
  line-height: 32px;
  color: #999;
}

/*验证码*/
.lgcode-2018 {
  position: relative;
  border: none;
  width: 300px;
  height: 188px;
  margin: 0 10px;
  -wekbit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.lgcode-2018 *,
.lgcode-2018 *:before,
.lgcode-2018 *:after {
  -wekbit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.lgcode-2018 .lgcode-active,
.lgcode-2018 .lgcode-error,
.lgcode-2018 .lgcode-refresh,
.lgcode-2018 .lgcode-success {
  background: url(../images/login/captcha.png);
  background-repeat: no-repeat;
}

.lgcode-2018 .lgcode-error,
.lgcode-2018 .lgcode-success {
  display: none;
  width: 293px;
  height: 188px;
  margin: 0 auto;
  background-position: 0 -203px;
}

.lgcode-2018 .lgcode-success {
  background-position: 0 -393px;
}

.lgcode-2018 .lgcode-refresh {
  position: absolute;
  z-index: 2;
  right: 2px;
  left: auto;
  top: 2px;
  cursor: pointer;
  width: 53px;
  height: 25px;
  background-position: 0 0;
}

.lgcode-2018 .lgcode-refresh-click {
  background-position: 0 -25px;
}

.lgcode-2018 .loginImg {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 188px;
}

.lgcode-2018 .loginImg .imgCode {
  width: 300px;
  height: 188px;
}

.lgcode-2018 .lgcode-loading {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 75px 0;
}

.lgcode-2018 .lgcode-loading img {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.lgcode-2018 .lgcode-active {
  position: absolute;
  z-index: 3;
  background-position: 0 -96px;
  width: 27px;
  height: 27px;
  font-size: 0;
}

.lgcode-2018 .login-code-loading .loading {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 75px 0;
}

.lgcode-2018 .login-code-loading .loading img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.login-ft {
  padding: 10px 20px 15px;
  font-size: 13px;
  color: #666;
  border-top: 1px solid #dedede;
}

.login-error {
  padding: 7px 0;
  line-height: 20px;
  color: #e12525;
  margin-top: -16px;
  display: none;
}
.login-error .icon {
  margin-right: 5px;
}

.login-box-account .login-hd .login-hd-code {
  display: none;
}
.login-box-account .login-hd .login-hd-account {
  width: 100%;
  float: none;
}
.login-box-account .login-hd .login-hd-account a:hover {
  color: #666;
  cursor: default;
}
.login-box-account .login-hd .login-code {
  display: none;
}

.login-box-account-nocode .login-pwd-code {
  display: none;
}
.login-box-account-nocode .login-btn {
  margin-top: 30px;
}
.login-box-account-nocode .login-ft {
  margin-top: 40px;
}

/*登陆提示框*/
.panel-tooltip-login {
  position: absolute;
  width: 422px;
  height: 142px;
  border-color: #f04837;
  background: #fff;
  z-index: 17000;
}
.panel-tooltip-login.left .tooltip-arw:before {
  border-color: transparent transparent transparent #f04837;
}
.panel-tooltip-login.right .tooltip-arw:before {
  border-color: transparent #f04837 transparent transparent;
}
.panel-tooltip-login .tooltips-login-con {
  height: 140px;
  padding: 20px;
}
.panel-tooltip-login .tooltips-login-side {
  float: left;
  width: 100px;
  height: 100px;
}
.panel-tooltip-login .tooltips-login-side img {
  display: block;
  width: 100px;
  height: 100px;
}
.panel-tooltip-login .tooltips-login-main {
  margin-left: 120px;
  padding-top: 10px;
}
.panel-tooltip-login .tooltips-login-tit {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 5px;
}
.panel-tooltip-login .tooltips-login-tit .icon {
  font-size: 18px;
  margin-right: 5px;
}
.panel-tooltip-login .tooltips-login-txt {
  line-height: 24px;
}
.panel-tooltip-login .tooltips-login-search {
  margin-top: 10px;
  height: 30px;
}
.panel-tooltip-login .tooltips-login-search .input {
  float: left;
  width: 150px;
  margin-right: 10px;
}
.panel-tooltip-login .tooltips-login-search .btn {
  float: left;
}
.panel-tooltip-login .tooltips-login-search .tips-info-txt {
  float: left;
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
  overflow: hidden;
}
.panel-tooltip-login .tooltips-login-search .tips-info-txt .icon {
  margin-right: 5px;
}

/*btn*/
.login-box .btn {
  display: inline-block;
  font-size: 14px;
  color: #333;
  min-width: 80px;
  height: 44px;
  line-height: 34px;
  /* height: 30px;
  line-height: 20px; */
  padding: 4px 10px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s,
    background ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s,
    background ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    color ease-in-out 0.15s, background ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    color ease-in-out 0.15s, background ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.login-box .btn:hover {
  color: #3b99fc;
  border-color: #3b99fc;
  -webkit-box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
  box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
}
.login-box .btn.btn-default {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.login-box .btn.btn-default:hover {
  background: #c7c7c7;
  border-color: #c7c7c7;
  color: #333;
}
.login-box .btn.btn-primary {
  background: #ff8000;
  color: #fff;
  border-color: #ff8000;
}
.login-box .btn.btn-primary:hover {
  background: rgba(255, 128, 0, 0.8);
  border-color: rgba(255, 128, 0, 0.8);
}
.login-box .btn.btn-secondary {
  background: #0f9ae0;
  color: #fff;
  border-color: #0f9ae0;
}
.login-box .btn.btn-secondary:hover {
  background: rgba(15, 154, 224, 0.8);
  border-color: rgba(15, 154, 224, 0.8);
}
.login-box .btn.btn-disabled {
  background: #eaeded;
  color: #999;
  border-color: #eaeded;
  cursor: not-allowed;
}
.login-box .btn.btn-disabled:hover {
  background: #eaeded;
  border-color: #eaeded;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login-box .btn.btn-success {
  background: #4ea373;
  color: #fff;
  border-color: #4ea373;
}
.login-box .btn.btn-success:hover {
  background: rgba(78, 163, 115, 0.8);
  border-color: rgba(78, 163, 115, 0.8);
}
.login-box .btn.btn-warning {
  background: #f6ba29;
  color: #fff;
  border-color: #f6ba29;
}
.login-box .btn.btn-warning:hover {
  background: rgba(246, 186, 41, 0.8);
  border-color: rgba(246, 186, 41, 0.8);
}
.login-box .btn.btn-danger {
  background: #ff4646;
  color: #fff;
  border-color: #ff4646;
}
.login-box .btn.btn-danger:hover {
  background: rgba(255, 70, 70, 0.8);
  border-color: rgba(255, 70, 70, 0.8);
}
.login-box .btn.btn-sm {
  min-width: 70px;
  height: 24px;
  padding: 1px 10px;
}
.login-box .btn.btn-sm.btn-radius {
  border-radius: 12px;
}
.login-box .btn.btn-lg {
  height: 36px;
  padding: 7px 10px;
}
.login-box .btn.btn-lg.btn-radius {
  border-radius: 18px;
}
.login-box .btn.form-block {
  display: block;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
}
.login-box .btn.btn-radius {
  border-radius: 15px;
}

/*input*/
.login-box .input-box {
  display: inline-block;
  position: relative;
}
.login-box .input-box .input {
  width: 100%;
  vertical-align: top;
}
.login-box .input-box .select {
  width: 100%;
  vertical-align: top;
}
.login-box .input-box .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #dcdcdc;
  cursor: pointer;
  font-size: 18px;
}
.login-box .input-box .icon:hover {
  color: #3b99fc;
}

.input-city .input,
.input-date .input {
  padding-right: 30px;
}

.login-box .input {
  height: 30px;
  line-height: 20px;
  border: 1px solid #dedede;
  padding: 4px 10px;
  color: #333;
  background-color: #fff;
  color: #333;
  outline: none;
  font-size: 14px;
  border-radius: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.login-box .input:focus,
.login-box .input.focus {
  border-color: #3b99fc;
  -webkit-box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
  box-shadow: 0 0 4px rgba(59, 153, 252, 0.4);
}
.login-box .input.input-sm {
  height: 24px;
  padding: 1px 10px;
}
.login-box .input.input-lg {
  height: 36px;
  padding: 7px 10px;
}
.login-box .input.input-error {
  border-color: #e12525;
  color: #e12525;
}

/*-----icheck插件样式-----*/
.login-box .icheckbox,
.login-box .iradio {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-image: url("../images/check.png");
  background-image: -webkit-image-set(
    url("../images/check.png") 1x,
    url("../images/check@2x.png") 2x
  );
  background-image: image-set(
    url("../images/check.png") 1x,
    url("../images/check@2x.png") 2x
  );
}

.login-box .icheckbox.checked {
  background-position: -16px 0;
  -webkit-animation: scale-spring 0.2s;
  animation: scale-spring 0.2s;
}

.login-box .iradio {
  background-position: -32px 0;
}

.login-box .iradio.checked {
  background-position: -48px 0;
  -webkit-animation: scale-spring 0.2s;
  animation: scale-spring 0.2s;
}

.login-box .check-inline {
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  margin-right: 10px;
}
.login-box .check-inline .iradio,
.login-box .check-inline .icheckbox {
  float: left;
  margin-left: -20px;
  margin-top: 7px;
}

/*遮罩层*/
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: 16000;
}

.login-box .txt-primary {
  color: #3b99fc !important;
}

.login-box .txt-light,
.login-box .txt-tips {
  color: #666 !important;
}

.login-box .txt-lighter {
  color: #999 !important;
}

.panel-tooltip .tooltip-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
}
.panel-tooltip .tooltip-close:hover {
  color: #3b99fc;
}






/*适老化大号字体开始*/

  .is-caring .header-welcome {
    font-size: 26px;
  }
  .is-caring .login-box .login-hd a {
    font-size: 22px;
  }
  .is-caring .login-code .login-code-ft li .icon {
    font-size: 20px;
  }
  .is-caring .modal-login {
    font-size: 20px;
  }
  .is-caring .modal-login .modal-login-tit h2 {
    font-size: 20px;
  }
  .is-caring .login-code-success h3 {
    font-size: 24px;
  }
  .is-caring .login-ft {
    font-size: 19px;
  }
  .is-caring .panel-tooltip-login .tooltips-login-tit {
    font-size: 22px;
  }
  .is-caring .panel-tooltip-login .tooltips-login-tit .icon {
    font-size: 24px;
  }
  .is-caring .login-box .btn {
    font-size: 14px;
  }
  .is-caring .login-box .btn.form-block {
    font-size: 22px;
  }
  .is-caring .login-box .input-box .icon {
    font-size:24px;
  }
  .is-caring .login-box .input {
    font-size: 20px;
  }

  /*适老化大号字体结束*/