.menu {
  width: 200px;
}
.menu :global(.menu-tit) {
  padding: 12px 16px;
  font-size: 16px;
}
.activeTit {
  background: #3b99fc;
  color: #fff;
}
.activeTit :global(a) {
  color: #fff;
}
.menu :global(.menu-sub) {
  padding: 6px 0 12px 0;
}
.menu :global(.menu-sub li) {
  padding: 8px 16px;
}
.menu :global(.menu-sub li.active) a {
  color: #3b99fc;
}
