.con { height: 320px; padding: 0 30px; }
.main { height: 240px; position: relative; display: flex; align-items: center; justify-content: center; }
.qrPic { width: 240px; height: 240px; border: 1px solid #dedede; background: #fff; }
.qrPic img { display: block; width: 238px; height: 238px; }
.txt { height: 30px; line-height: 30px; text-align: center; }
.primary { color: #3b99fc; }
.ft { padding: 12px 30px; display: flex; align-items: center; gap: 24px; }
.ft li { display: flex; align-items: center; height: 28px; line-height: 28px; color: #999; }
.last { margin-right: 0; }
.circle { display: inline-flex; align-items: center; justify-content: center; width: 32px; height: 32px; border-radius: 16px; border: 1px solid #dedede; margin-right: 8px; background: #fff; }
.circle svg { width: 18px; height: 18px; fill: #cfcfcf; stroke: #cfcfcf; }
